# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

 Cosign keys
cosign-keys/
cosign_*.key
cosign_*.pub
cosign.key
cosign.pub
*.key
*.sig
.cosign/

# AWS and Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
*.tfvars
.env